doctype html
html(lang="en")
    head
        title=pageTitle
        script(type='text/javascript',src='/js/appframework.min.js')
        script(type='text/javascript',src='/socket.io/socket.io.js')
        script(type='text/javascript',src='/js/socket-client.js')
        link(rel='stylesheet',href='/css/temperature.css')
